{% extends 'base.html.twig' %}

{% block body %}
Homepage.

<ul>
    <li>
        <a href="./login">Login</a>
    </li>
    <li>
        <a href="./logout">Logout</a>
    </li>
    <li>
        <a href="./cms">CMS</a>
    </li>
</ul>
{% endblock %}
