.toc {
    padding-left: 40px;
}

.toc * {
    font-size: 20px;
}

.logs, .clicks, .feedbacks {
    padding-left: 20px;
}

.logs li, .clicks li, .feedbacks li {
    font-size: 20px;
}

.records_list *, .record_properties *, .record_actions * {
    font-size: 20px !important;
    border: none !important;
}

.records_list th {
    font-weight: bold;
}

.col-75 {
    width: 75%;
    float: left;
}

.col-25 {
    width: 20%;
    float: left;
}

.clear {
    clear: both;
}

code {
    font-size: 11px !important;
    line-height: 15px !important;
    margin: 0 !important;
    padding: 0 !important;
    white-space: pre;
    white-space: pre-wrap;
    word-break: break-all;
    word-wrap: break-word;
    display: block;
}

.example-form form {
    text-align: left;
    padding: 20px;
    border: 1px solid #ccc;
}

.example-form label {
    clear: both;
    display: inline-block;
    width: 200px;
}

.example-form * {
    font-size: 20px;
}
